@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #303B4A;
}

body {
  margin: 0;
  font-family: 'Londrina Solid', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(107.56deg, #1E2631 0%, #232D3D 100%);
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background-color: var(--background-color);
}
textarea {
  background-color: var(--background-color);
}
